body{
    background-image: url(./images/pexels-pixabay-531880.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.para{
    background-color: cadetblue;
    text-align: justify;
    padding: 3%;
}

#box-1{
    background-color: red;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

#box-2{
    background-color: blue;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20px;
    left: 50px;
}

ul{
    background-color: blueviolet;
    list-style: none;
}

ul li{
    background-color: brown;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
    float: left;
}